 <table border=0 align="center">
   <tr><td align="center">
     <h2>К сожалению Ваш браузер не поддерживает видео-формат <b>WEBM !!!</b><br>
     Мы Вам рекомендуем установить один из браузеров: </h2>
   </td></tr>
   <tr><td align="center">
     <table border=0 align="center">
       <tr>
         <td><img src="/static/images/chrome.png" title="Chrome"></td>
         <td><img src="/static/images/firefox.png" title="Firefox"></td>
         <td><img src="/static/images/ie.png" title="Internet Explorer"></td>
         <td><img src="/static/images/opera.png" title="Opera"></td>
       </tr>
     </table>
   </td></tr>
 </table>
