* {
    margin:0;
    padding:0;
}

html, body {
    background-color:#FFF;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
form {
  margin-left:25px;
}
input, textarea, select {
  display:block;
  width:500px;
  float:left;
  margin-left:10px;
  margin-bottom:10px;
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
optgroup, option {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
label {
  display:block;
  text-align:right;
  float:left;
  width:200px;
  padding-right:5px;
}
br {
  clear:left;
}
.cb, .rb {
  width:1em;
}
.ms, .ta {
  height:100px;
}
#reset, #submit1 {
  width:87px;
  margin-left:20px;
  margin-top:10px;
}
#submit2 {
  width:87px;
  height:40px;
  margin-left:20px;
}
#output {
  background-color:#F0B80D;
  height:25px;
  overflow:hidden;
  padding:5px;
}

#years {
  width:35px;
}

#hour {
  width:40px;
}

#min {
  width:15px;
}

#time {
  width:15px;
}

#rating {
  width:70px;
}

#url {
  font-size: 14pt;
  color: red;
  font-weight:bold;
}

#next {
  width:87px;
  height:40px;
  margin-left:20px;
}
